$font-primary: 'SF Pro Display';
$font-secondary: 'Gilroy';

$black: #000000;
$white:#FFFFFF;
$green: #B7EE81;
$blue: #1443BD;
$blue-light: #2A84C6;
$blue-dark: #100238;

// $xs: 376px;
// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $gl: 1024px;
// $xl: 1200px;

// $breakpoints: (
//   sm: $sm,
//   md: $md,
//   lg: $lg,
//   xl: $xl,
// );

$scu-desktop-min-width:                 980px !default;
$scu-tablet-min-width:                  768px !default;
$scu-tablet-max-width:                  979px !default;
$scu-phone-max-width:                   767px !default;
