// Basics
@import "variables";
@import "mixins";
@import "reset";
@import "typography";
@import "utils";

// Components
@import "components/buttons";

$header-height: 113px;

body {
  max-width: 100vw;

  .p-header {
    .container {
      margin: 40px 108px;
      display: flex;

      figure {
        margin-right: auto;
        
        img {
          height: 30px;
          width: 125px;
        }
      }

      .menu {
        display: flex;
        align-items: center;
        gap: 80px;

        ul {
          li {
            display: inline-block;
            margin-right: 36px;

            a {
              font-family: $font-secondary;
              color: black;
              font-size: 20px;
              font-weight: 500;
            }

            img {
              margin-left: 10px;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        // &__actions {}
      }
    }
  }

  .p-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(/assets/images/banner-wave.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 50px;

    &__half {
      max-width: 500px;

      h1 {
        font-family: $font-primary;
        font-weight: 600;
        font-size: 60px;
        line-height: 72px;
        color: $blue-dark;
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        font-family: $font-secondary;
        line-height: 24px;
      }
    }

    figure {
      z-index: -1;
    }

    &__actions {
      margin-top: 44px;
      display: flex;

      hr {
        margin: 0 24px;
      }

      button {
        font-size: 20px;
      }

      button:first-child {
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
      }
    }
  }
}
